# ========================
# Main documentation site: docs.aztec.network
# ========================

# The [build] settings apply to all contexts unless overridden.
[build]
  command = "yarn build"
  publish = "docs/dist"

