# ========================
# Main documentation site: docs.aztec.network
# ========================

# The [build] settings apply to all contexts unless overridden.
[build]
  command = "yarn build"
  publish = "docs/dist"

# Build settings for the v0.0.1-test branch
# Netlify converts dots in branch names to hyphens for context names
[context."v0.0.1-test"]
  command = "VERSION_PATH=/v0.0.1-test/ yarn build"
  [context."v0.0.1-test".environment]
    VERSION_PATH = "/v0.0.1-test/"
  
