# ========================
# Main documentation site: docs.aztec.network
# ========================

# The [build] settings apply to all contexts unless overridden.
[build]
  command = "yarn build"
  publish = "docs/dist"

# Redirect requests from the root to your base path
[[redirects]]
  from = "/"
  to = "/docs"
  status = 301
  force = true

# Rewrite all other paths to your base path
[[redirects]]
  from = "/docs/*"
  to = "/docs/:splat"
  status = 200

